@font-face {
    font-family: 'CircularStdBold';
    src: url('./CircularStdBold.eot');
    src: local('CircularStdBold'), url('./CircularStdBold.woff') format('woff'), url('./CircularStdBold.ttf') format('truetype');
}

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_79748">Text with this font applied</p> */
.fontsforweb_fontid_79748 {
    font-family: 'CircularStdBold' !important;
}

/* Font downloaded from FontsForWeb.com */

.main-intro {
    font-family: 'CircularStdBold';
    font-size: 30px;
    color: cornsilk;
    text-align: center;
    font: oblique;
}

.sub-intro {
    font-family: 'CircularStdBold';
    font-size: 15px;
    text-align: center;
    color: azure;
    padding-top: 5px;
    padding-bottom: 30px !important;

}

.logo-inhalo {
    width: 30%;
    /* position: absolute; */
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 150px;
}

body {
    background: linear-gradient(to left, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1)100%) !important;
}

.ant-form-explain,
.ant-form-extra {
    color: white !important;
}

.para-Or {
    color: white !important;
}

.register-padding {
    margin-bottom: 700px !important;
}